html, body {
  font: 24px normal Arial, Helvetica, sans-serif;
}

main {
  box-sizing: border-box;
  border: 5px solid darkgray;
  padding: 30px;
}

#flex-container {
  /* display: flex; */
  justify-content: center;
}

#question {
  width: 70%;
  margin: 0 auto;
  font-weight: bold;
}

#instructions {
  width: 70%;
  margin: 0 auto;
  font-style: italic;
}

textarea {
  box-sizing: border-box;
  resize: none;
  width: 70%;
  height: 700px;
  font-size: 0.75em;
  display: block;
  margin: 0 auto;
}

textarea:focus {
  outline: none;
}

#timer {
  float: right;
}

#modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 105, 105, 0.762);
  display: none;
}

#modal-content {
  position: absolute;
  height: 30%;
  width: 30%;
  color: rgb(255, 251, 251);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(201, 188, 188);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}